# exported data from testing
slack-export/

# Logs
logs
*.log

# local env settings
.env

# Go binary
slack-export
*.exe

# System Files
.DS_Store
Thumbs.db

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Conductor
.context/
