SLACK_API_TOKEN=xoxp-this-is-your-token
EXPORT_ROOT=/Users/dcaslin/test-slack-export
EXPORT_JSON=true
EXPORT_FILES=true
MIN_DATE_ISO=2026-03-11T14:48:00.000Z
#MAX_DATE_ISO=2021-01-01T14:48:00.000Z
#RESET_CONF=true